# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
# Environment
#.env # <-- commented out to include for demonstration and testing purposes
.venv/
env/
game-api-venv/
# VS Code
.vscode/
# Pytest
htmlcov/
.coverage
# MySQL and DB artifacts
*.sqlite3
# Docker
*.log
*.pid
*.sock
# Byte-compiled / cache
*.pyo
*.pyd
*.pyc
# System
.DS_Store
Thumbs.db
# Pydantic V2 cache
.cache/
